:root {
  --color-primary: rgba(117, 117, 117, 1);
  --color-brand: rgba(33, 33, 33, 1);
  --color-accent: rgba(255, 255, 255, 1);
  --color-inverted: rgba(33, 150, 243, 1);
  --color-background: rgba(47, 48, 58, 1);
}

body {
  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

.logo {
  color: var(--color-inverted);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.192;
  font-weight: 700;
  font-style: bold;
  text-decoration: none;
}

.logo-black {
  color: var(--color-brand);
}

.logo-white {
  color: var(--color-accent);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.dp-flex {
  display: flex;
}

.link {
  color: var(--color-brand);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--color-inverted);
  cursor: pointer;
}

.header-link-contact {
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428;
  text-decoration: none;
  margin-left: 10px;
}

.header-link-contact:hover,
.header-link-contact:focus {
  color: var(--color-inverted);
  cursor: pointer;
}

/* Header */
.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  padding: 24px 0;
}

.header-container {
  display: flex;
}

.header-nav {
  display: flex;
}

.header-menu {
  display: flex;
  margin-left: 93px;
  column-gap: 50px;
  align-items: center;
}

.header-link {
  display: flex;
  align-items: center;
  column-gap: 50px;
  margin-left: auto;
}

.header-icons-list {
  fill: var( --color-primary);
}

.header-icons-list:hover,
.header-icons-list:focus {
  color: var(--color-inverted);
  fill: var(  --color-inverted);
  cursor: pointer;
}

.current {
  color: var(--color-inverted);
}

.hero-section {
  background-image: url("/images/background_img.png");
  background-color: var(--color-background);
  padding: 200px 0;
}

.hero-title {
  max-width: 700px;
  margin: 0 auto 30px;
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 44px;
  line-height: 1.3636;
  font-weight: 900;
  text-align: center;
}

/* Button */
.hero-section-button {
  padding: 10px 32px;
  background-color: var(--color-inverted);
  color: var(--color-accent);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hero-section-button:hover,
.hero-section-button:focus {
  cursor: pointer;
  background-color: #188ce8;
}
.features-section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.features-section h2 {
  color: var(--color-brand);
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1.1741;
  font-weight: 700;
}

.features-section h3 {
  margin-bottom: 10px;
  color: var(--color-brand);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.1721;
  font-weight: 700;
}

.features-section-container {
  width: calc((100% - 90px) / 4);
}

.features-text {
  line-height: 1.7;
}

.features-container-img {
  display: flex;
  align-items: center;
  width: 270px;
  height: 120px;
  background: rgba(245, 244, 250, 1);
  border-radius: 4px;
  justify-content: center;
  margin-bottom: 30px;
  fill: var(--color-brand);
}

.features-list {
  display: flex;
  column-gap: 30px;
}

.section-work {
  padding-bottom: 94px;
}

.section-work h2 {
  margin-bottom: 50px;
  color: var(--color-brand);
  font-size: 36px;
  line-height: 1.1741;
  font-weight: 700;
  text-align: center;
}

.work-images {
  display: flex;
  column-gap: 30px;
}

.persons-section {
  background-color: rgba(245, 244, 250, 1);
  padding-bottom: 94px;
  padding-top: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.persons-section h2 {
  margin-bottom: 50px;
  color: var(--color-brand);
  font-size: 36px;
  line-height: 1.1741;
  font-weight: 700;
  text-align: center;
}

.persons-section h3 {
  color: var(--color-brand);
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}

.persons-images {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.persons-images-card {
  background-color: var(--color-accent);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(161, 161, 161, 1);
  -moz-box-shadow: 0px 4px 4px 0px rgba(161, 161, 161, 1);
  box-shadow: 0px 4px 4px 0px rgba(161, 161, 161, 1);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.persons-text {
  padding: 30px 0;
  text-align: center;
}

.persons-section-soc-list {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-left: 32px;
}



.persons-section-soc-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: rgba(175, 177, 184, 1);
  border-radius: 50%;
  margin-top: 16px;
}
 
.persons-section-soc-img:hover,
.persons-section-soc-img:focus {
  cursor: pointer;
  background-color:var(--color-inverted) ;
}

.persons-section-soc-img:hover.persons-section-soc-img {
  fill: var( --color-accent);
}


.client-section {
  display: flex;
  padding-bottom: 94px;
  padding-top: 94px;
}

.client-section h2 {
  margin-bottom: 50px;
  color: var(--color-brand);
  font-size: 36px;
  line-height: 1.1741;
  font-weight: 700;
  text-align: center;
}

.client-section-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.client-section-container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  margin-bottom: 30px;
  fill: rgba(175, 177, 184, 1);
  border-radius: 4px;
  border: 1px solid rgba(175, 177, 184, 1);
}

.client-list {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.client-section-container-img:hover,
.client-section-container-img:focus {
  cursor: pointer;
  border: 1px solid rgba(33, 150, 243, 1);
}

.client-section-container:hover .client-section-container-img {
  fill: rgba(33, 150, 243, 1);
}

.footer {
  background-color: var(--color-background);
  padding-bottom: 60px;
  padding-top: 60px;
  font-style: normal;
}

.footer-logo {
  color: var(--color-inverted);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.192;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
}

.footer-link-address {
  color: var(--color-accent);
  font-size: 14px;
  line-height: 1.1741;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 9px;
}

.footer-address {
  font-style: normal;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-link {
  margin-left: 70px;
  padding-top: 10px;
}

.social-link-text {
  color: var(--color-accent);
  font-size: 14px;
  line-height: 1.143;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: rgba(255, 255, 255, 1);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-links-twit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: rgba(255, 255, 255, 1);
  border-radius: 50%;
  background-color: rgba(33, 150, 243, 1);
}

.footer-link-contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 9px;
}

/* 2nd page style */

.portfolio-header-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.portfolio-section {
  color: var(--color-brand);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  text-decoration: none;
  padding-top: 100px;
  padding-bottom: 94px;
}

.portfolio-section p {
  color: var(--color-primary);
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
  text-decoration: none;
}

.portfolio-section h3 {
  color: var(--color-brand);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.button-portfolio {
  color: var(--color-brand);
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  background-color: rgba(245, 244, 250, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  cursor: pointer;
  background-color: var(--color-inverted);
  color: var(--color-accent);
}

.portfolio-button-menu {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 56px;
  justify-content: center;
}

.btn-current {
  color: var(--color-accent);
  background-color: var(--color-inverted);
  padding: 6px 25px;
}

.portfolio-images {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.portfolio-img:hover,
.portfolio-img:focus {
  display: block;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(161, 161, 161, 1);
  -moz-box-shadow: 0px 4px 4px 0px rgba(161, 161, 161, 1);
  box-shadow: 0px 4px 4px 0px rgba(161, 161, 161, 1);
  border-bottom-left-radius: 4px;
}

.portfolio-images a {
  text-decoration: none;
}

.portfolio-images li {
  background-color: var(--color-accent);
  border-bottom-right-radius: 4px;
}

.card-text {
  padding: 20px 24px;
  border: 1px solid rgba(238, 238, 238, 1);
}

.card-text h3 {
  margin-bottom: 4px;
}
